body {
  background-color: #F5EDDC;
  color: black;
  
}

/* Header */
.header {
  top: 0%;
  width: 100%;
  position: fixed;
  font-size: x-large;
  background: #CFD2CF;
  display: block;
  justify-content: center;
  margin-left: -6px;
}

nav {
  height: 100px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

nav h2 {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}

nav ul {
  float: right;
  text-align: center;
}

nav li {
  text-decoration: underline;
  display: inline;
  list-style: none;
  text-align: center;
  padding: 10px;
  margin: auto 10px;
}

nav li:hover {
  cursor: pointer;
  text-decoration: none;
}

#nav-item a{
  color: black;
}

#nav-item a:hover{
  text-decoration: none;
}

/*Body*/


/*Home page */

.body-container {
  margin-top: 200px;
  padding: auto;
}

.photo-Allan {
  margin: auto 500px;
  width: 100%;
  height: 500px;
}

.home-text {
  float: left;
  padding: 100px;
  margin-left: 300px;
  margin-right: 0px;
  justify-content: left;
  width: 350px;
  height: 120px;
}

.home-text h3 {
  padding: 20px;
  font-size: 20px;
  border-bottom: 5px solid #A2B5BB;
}

.home-text h1 {
  padding-top: 20px;
  font-size: 50px;
}

.contactButton {
  border-radius: 4px;
  background-color: #EB1D36;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.contactButton:hover {
  cursor: pointer;
  background-color: #552820
}

#allan-photo {
  display: block;
  margin-top: 200px;
  margin-left: auto;
  margin-right: 700px;
  width: 30%;
  border-radius: 50%;
}

/* About Me */

.Aboutme-container {
  display: flex;
  margin: auto;
  padding: 10px;
  height: 200px;
  width: 70%;
}

.aboutme-text h1 {
  padding: auto;
  margin: auto;
  border-bottom: 5px solid #A2B5BB;
}
.aboutme-text p {
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
  padding: 10px;
  line-height: 1.6;
}

/* Skills */

.skills-container h1 {
  padding: auto;
  margin: auto;
  border-bottom: 5px solid #A2B5BB;
  width: 60%;
}

#skills-intro {
  font-size: 20px;
  width: 60%;
  margin: auto;
  text-align: justify;
  padding: 20px;
  margin-top: 20px;
}

.skills-images {
  margin: auto;
  width: 60%;
  margin-top: 30px;
  padding: 10px;
  flex-wrap: wrap;
  display: flex;
}

.skill-item {
  margin: 20px;
  text-align: center;
  width: 100px;
  transition: 0.3s;
}

.skills-description {
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  display: flex;
}

#skill-logo {
  height: 100px;
  max-height: 100px;
  min-height: 100px;
  width: 100px;
  max-width: 100px;
  min-width: 100px;
}

.skills {
  list-style: none;
}

.skills li{
  margin: auto;
  text-align: left;
  width: 60%;
}

/* Contact */

#contactdes {
  font-size: 30px;
}
.contact-container {
  width: 60%;
  margin: auto;
  padding: 5px; 
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: inline-block;
  padding: 20px;
  margin: 10px;
  background: #CFD2CF;
}
.card img {
  width: 170px;
  height: 135px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  text-decoration: none;
}

.contact-container a {
  color: black;
}

.contact-container a:hover{
  text-decoration: none;
}

.contact-container h1 {
  padding: auto;
  margin: auto;
  border-bottom: 5px solid #A2B5BB;
  width: 60%;
}

