body {
 background-color: aliceblue;
 color: black;
}

/* Header */
.header {
  top: 0%;
  width: 100%;
  position: fixed;
  font-size: x-large;
  background-color: aliceblue;
  margin-left: -5px;
  display: flex;
  justify-content: center;
}

nav {
  height: 100px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

nav h2 {
  float: left;
  margin: auto 50px;
}

nav ul {
  float: right;
  text-align: center;
  
}
nav li {
  text-decoration: underline;
  display: inline;
  list-style: none;
  text-align: center;
  padding: 10px;
  margin: auto 10px;
}

nav li:hover {
  cursor: pointer;
  text-decoration: none;
}

#nav-item a{
  color: black;
}

#nav-item a:hover{
  text-decoration: none;
}

/*Body*/

.body-container {
  margin-top: 100px;
  backdrop-filter: blur(10px);
}


